{{define "layout"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>FIndex</title>

    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/icons/bootstrap-icons.min.css">
    

  </head>

  <body>

    <nav class="navbar mb-3">
      <div class="container justify-content-center" style="font-family: Monaco,'Liberation Mono', Consolas, 'Courier New',  'Lucida Console', 'DejaVu Sans Mono', monospace;">
        <a class="navbar-brand mx-auto fs-4" href="/"><i class="bi bi-box-seam-fill me-2"></i>FINDEX</a>
      </div>
    </nav>

    <main role="main" class="container">

        {{block "content" .}}{{end}}

    </main><!-- /.container -->

    <script src="/assets/bootstrap.min.js"></script>
  </body>
</html>
{{end}}