{{template "layout.html" .}}

{{define "content"}}
<div class="container">
    <h3>Search Results</h3>
    {{if .Results}}
        <div class="list-group">
            {{range .Results}}
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{.Path}}</h5>
                    </div>
                    <p class="mb-1">{{.ContentSnippet}}</p>
                </a>
            {{end}}
        </div>
    {{else}}
        <p>No search results found.</p>
    {{end}}
</div>
{{end}}
